<nz-content>
  <div class="container">
    <div nz-row nzJustify="center">
      <div nz-col nzSpan="12" class="grid-container">
        <div nz-row nzJustify="center">
          <h1 nz-typography>Login</h1>
        </div>
        <div nz-row nzJustify="center">
          <nz-divider></nz-divider>
        </div>
        <div nz-row nzJustify="center">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">Username</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input placeholder="Enter your username" [(ngModel)]="username" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="login-button" nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">Password</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input type="password" placeholder="Enter your password" [(ngModel)]="password" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="login-button" nz-col nzSpan="24">
            <div nz-row nzJustify="center">
              <button nz-button nzType="primary" (click)="login()">Login</button>
            </div>
          </div>
          <div nz-col nzSpan="24">
            <div nz-row nzJustify="center">
              <button nz-button nzType="primary" (click)="navigateToRegister()">Create new account</button>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center">
          <p nz-typography *ngIf="loginError">{{ loginErrorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</nz-content>
