<nz-content>
  <div class="container">
    <div class="grid-container">
      <h1>Login</h1>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Username</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input placeholder="Enter your username" [(ngModel)]="username" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Password</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input
            nz-input
            type="password"
            placeholder="Enter your password"
            [(ngModel)]="password"
          />
        </nz-form-control>
      </nz-form-item>
      <button class="primary" (click)="login()">Login</button>
      <button class="secondary" (click)="navigateToRegister()">Create new Account</button>
      <p class="login-error" *ngIf="loginError">{{ loginErrorMessage }}</p>
    </div>
  </div>
</nz-content>
