<nz-footer>
  <div nz-row nzJustify="space-between" nzAlign="middle">


    <div nz-col>
      <div nz-row nzJustify="center" nzAlign="middle" [nzGutter]="16">
        <div nz-col>
          <p nz-typography>Questions? Send us a text</p>
        </div>
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            nzDanger
            nzShape="circle"
            (click)="
              openLink(
                'https://www.youtube.com/channel/UCQV36Dfq-mfmAG0SqrQ_QbA'
              )
            "
          >
            <span nz-icon nzType="instagram" nzTheme="outline"></span>
          </button>
        </div>
        <div nz-col>
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="openLink('https://github.com/ude-soco')"
          >
            <span nz-icon nzType="x" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nz-footer>
