<nz-footer class="footer-container">
  <p>Fragen? <a href="mailto:support@fuiz.com" style="color: white;">Schreib uns!</a></p>
  <div class="follow-us">
    <button
      (click)="openLink('https://www.instagram.com')"
      aria-label="Instagram"
    >
      <span nz-icon nzType="instagram" nzTheme="outline"></span>
    </button>
    <button
      (click)="openLink('https://github.com')"
      aria-label="GitHub"
    >
      <span nz-icon nzType="github" nzTheme="outline"></span>
    </button>
  </div>
</nz-footer>
