<nz-header>
  <div class="header-container">
  <h2 nz-typography style="color: white; margin-bottom: 0px">
    FUIZ
  </h2>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item>
          <button nz-button nzType="default">Button 1</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="default">Button 2</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="default">Button 3</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="default">Button 4</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="default" >Button 5</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="default">Button 6</button>
        </li>
      </ul>
    </div>
</nz-header>
