<nz-content>
  <div class="container">
    <div class="grid-container">
      <h1>New here?</h1>
      <h2>Register and start learning right away</h2>
      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Username</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input placeholder="Enter your username" [(ngModel)]="username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Name</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input placeholder="Enter your name" [(ngModel)]="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Email</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input type="email" placeholder="Enter your email" [(ngModel)]="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Password</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input type="password" placeholder="Enter your password" [(ngModel)]="password" />
        </nz-form-control>
      </nz-form-item>

      <button class="primary" (click)="register()">Register</button>
      <button class="secondary" (click)="navigateToLogin()">Back to Login</button>

      <div *ngIf="registerError">
        <p class="login-error">{{ registerErrorMessage }}</p>
      </div>
    </div>
  </div>
</nz-content>
